@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--radius: 0.125rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	width: 100%;
	max-width: 300px;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

main > form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin-bottom: 1rem;
	font-family: inherit;
	background-color: #fff;

	/* border: 1px solid rgba(34, 34, 34, 0.1); */
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	border-radius: var(--radius);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
}

form > input {
	padding: 0.5rem 1rem;
	padding-left: 0.25rem;
	outline: none;
	border: 1px solid rgba(34, 34, 34, 0.1);
	border-radius: var(--radius);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
	font-family: inherit;
}

form > input:hover {
	border-color: rgba(34, 34, 34, 0.25);
}
form > input:focus {
	border-color: rgba(34, 34, 34, 0.5);
}

button {
	background: transparent;
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	color: #fff;
	background: #222;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0.75rem;
	font-family: inherit;
	border-radius: var(--radius);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
	font-weight: 500;
}
button:hover {
	opacity: 0.9;
}
